################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Glacier
/bin-int/Debug-windows-x86_64
/bin/Debug-windows-x86_64/Glacier/Glacier.idb
/bin/Debug-windows-x86_64/Glacier/Glacier.lib
/bin/Debug-windows-x86_64/Glacier/Glacier.pdb
/bin/Debug-windows-x86_64/Sandbox/Sandbox.exe
/bin/Debug-windows-x86_64/Sandbox/Sandbox.pdb
/bin/Debug-windows-x86_64/Glacier-Editor/Glacier-Editor.exe
/bin/Debug-windows-x86_64/Glacier-Editor/Glacier-Editor.pdb
/Glacier/resources/shaders/outputs