################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Glacier
/bin-int/Debug-windows-x86_64
